/* FONTS */
@font-face {
  font-family: "museo_sans_cyrl";
  src: url("../fonts/museo_sans_100.woff2") format("woff2"),
    url("../fonts/museo_sans_100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans_cyrl";
  src: url("../fonts/museo_sans_300.woff2") format("woff2"),
    url("../fonts/museo_sans_300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans_cyrl";
  src: url("../fonts/museo_sans_500.woff2") format("woff2"),
    url("../fonts/museo_sans_500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo_sans_cyrl";
  src: url("../fonts/museo_sans_700.woff2") format("woff2"),
    url("../fonts/museo_sans_700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
