.button-white {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 7px 30px;
  border: 1px solid $color-accent;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: $color-accent;
  letter-spacing: 0.06em;

  background-color: #ffffff;
  transition: all 0.2s linear;
}

.button-white__arrow {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  fill: $color-accent;
  transition: all 0.2s linear;
}

.button-white:hover {
  background-color: $color-accent;
  color: #ffffff;
}

.button-white:hover .button-white__arrow {
  fill: #ffffff;
}

@media (min-width: $mobileL) {
  .button-white {
    width: 370px;
    margin: 0 auto;
    padding: 15px 60px;
  }
}

@media (min-width: $desktopXS) {
  .button-white {
    padding: 15px 60px;
    font-size: 21px;
  }

  .button-white__arrow {
    width: 21px;
    height: 21px;
    margin-left: 10px;
    fill: $color-accent;
  }
}
